<ion-view view-title="Playlists" ng-controller="JSONCtrl">
  <ion-content>
  <div style="background-image:url({{activeItem.visual.url}})" scroll="false" class="item-container">
 <!--
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
-->
<div>
	<a ng-click="saveForLater(activeItem)"  class="item-element">
        <h2>{{activeItem.title}}</h2>
		<p>{{activeItem.summary.content}}</p>
		<div class="overlay"></div>
	</a>
</div>
  </div>
	<div class="button-bar">
	<button class="button button-full button-positive ion-ios-skipbackward" ng-click="speakText()">
    </button>
	<button class="button button-full button-positive" ng-class="{'ion-arrow-right-b': isPlaying == false, 'ion-pause': isPlaying == true}" ng-click="togglePlay(activeItem)">
    </button>
    <button class="button button-full button-positive ion-ios-skipforward" ng-click="speakText()">
    </button>
	</div>
  </ion-content>
</ion-view>
